:root {
  --dark: #0d1117;
  --dark1: #161b22;
  --gray1: #21262d;
  --gray2: #89929b;
  --gray3: #c6cdd5;
  --light: #ecf2f8;
  --red: #fa7970;
  --yellow: #faa356;
  --green: #7ce38b;
  --blue: #77bdfb;
  --purple: #cea5fb;
}
